<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel = "stylesheet"  href = "/css/login.css">
</head>
<body>
    <div class = "log-body">
        <div class = "site-image">
        <img src="/images/avtar.avif" style = "height: 20rem; width: 18rem;" alt="">
        </div>
      
        <div class = "log-div">
            <h1>Log In</h1>
            <div class = "google-logIn">
                 <img class = "google-image" src = "/images/google.webp" alt = "Google">
                 <p> Log In with Google</p>
            </div>
            <div class = "form-div">
                <form>
                    <input class = "form-input" type="email" placeholder="   enter your email"> <br>
                    <input class = "form-input" type="password" placeholder="   enter your password">
                </form>
                <button class = "login-button">Log In</button>  <br> <br>
                <a class  = "forget" href = " " >Forget your password?</a>
                
            </div>
        </div>

        <div class="home">
            <i class="fa-solid fa-house"></i>
            <p>home</p>
        </div>
    </div>
</body>
</html>