
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
  <div class="sidebar">
    <div class = "profile-img">
        <div class = "pro-img">

        </div>
    </div> 
   
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Downloads</a></li>
      <li><a href="#contact">Log Out</a></li>
    </ul>

  </div>
  <div class="main-content">
    <div class = "username">
         <h1> User Name </h1>
    </div>
    <p>This is the main content area.</p>
  </div>
</body>
</html>