<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/css/index.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <div class="header" style="width: 100wh;">
         <div class="navBar">
            <div class="logo">
               <div class="logo-img">
                   
               </div>
               <h3>ClipCrux</h3>
            </div>
            <div class = "navOptions">
               <button class = "optButton" style="width: 6rem;">Profile</button>
               <button class = "optButton" style="width: 6rem;">About</button>
               <button class = "optButton" style="width: 8rem;">Downloads</button>
            </div>
            <div class = "register">
               <button class = "login">Log In</button>
               <button class = "sign-up" style="background-color: rgb(179, 136, 219);" >Sign Up</button>
            </div>
       </div>
       <div class="heading2">
            <h1 style="text-align: center;">Summary Of your video </h1>
            <div>
               <p><%= result %></p>
            </div>
       </div>
    </div>
    </div>
    
</body>
</html>