<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel = "stylesheet" href = "/css/signup.css">
</head>
<body>
    <div class="signup-div">
        <div class="home">
            <i class="fa-solid fa-house"></i>
            <p>home</p>
        </div>
        <h1>Sign Up</h1>
        <div class = "form-div">
            <form>
                <input class = "form-input" type="email" placeholder="   enter your email"> <br>
                <input class = "form-input" type="password" placeholder="   enter your password">
                <input class = "form-input" type="password" placeholder="   confirm your password">
            </form>
            <button class = "signup-button">Sign Up</button>  <br>            
        </div>
        <p class = "have-account">Already have an Account??</p>
        <button class = "login-button"  style="margin-top:0.57rem;">Log In</button>
    </div>    
   
</body>
</html>